@model IEnumerable<HCLib.FlotationDevice.Service.Models.ShelfType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShelfType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShelfType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShelfTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShelfTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShelfTypeID })
        </td>
    </tr>
}

</table>
