@model HCLib.FlotationDevice.Service.Models.LocationCollection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocationCollection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Collection.CollectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collection.CollectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckedInItems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckedInItems)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationCollectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
